.footer {
  background-color: #1e1e1e;
  color: #ffffff;
  text-align: center;
  padding: 1rem 0;
  border-top: 1px solid #333;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 0.8rem;
}

@media (min-width: 768px) {
  .footer {
      font-size: 1rem;
  }
}
